* {
    margin: 0;
    padding: 0;
    border: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #39a6b2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../assets/images/code-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    background-color: crimson;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0;
    text-align: left;
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

header nav  {
    margin: 7px 0;
    background-color: crimson;
    border-radius: 15px;
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 30px;
}

.intro {
    display: inline;
}

.intro h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: white;
   
}

.intro p {
    float: right;
    font-size: 36px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.hero {
    background-color: crimson;
}

.work h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 56px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-weight: bold;
    text-align: center;

}

.about-me {
    background-image: url("../assets/images/code-1.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    background-attachment: fixed;
    background-position: 80%;
}

img.one {
    width: 1500px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img.two, img.three {
    width: 700px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    }


.hero-cta h2 {
    font-size: 36px;
    }

   
    

section {
    padding: 60px;
}


